@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 100%;
}

.container .row {
    width: 80%;
    margin: auto;
}

.container .row .header {
    width: 100%; 
    text-align: center;
    margin: auto;
}

.container .row .header h1 {
    padding-top: 30px;
    font-size: 45px;
    color: #e45407;
}

.container .row .header p {
    margin-top: 15px;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #e45407;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-wrap: wrap; 
}

.content .card {
    flex: 1 1 300px; 
    margin: 50px 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-width: 400px; 
}

.content .card img {
    height: auto;
    max-width: 100%;
}

.content .card h3 {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 18px;
    color: #000; 
}

.content .card p {
    font-size: 15px;
    color: #000;
    line-height: 1.5;
    padding: 10px;
}

@media screen and (max-width: 992px) {
    .content {
        flex-direction: column;
    }
    
    .content .card {
        margin: 20px auto;
    }
}
